<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.jsのサンプル</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <div id="color_board" v-bind:style=" style ">
    
    </div>
    <ul>
      <!-- カスタムイベントはケバブケースで書く -->
      <color-slider color="red" @parent-method="$changeColor"></color-slider>
      <color-slider color="green" @parent-method="$changeColor"></color-slider>
      <color-slider color="blue" @parent-method="$changeColor"></color-slider>
      <li>
          <p>opacity</p>
          <input type="range" @input="$changeOpacity" v-model="opacity" min="0" max="1" step="0.01">
          <p><input type="number" v-model="opacity" min="0" max="1" step="0.01"></p>
          <p>{{opacity}}</p>
        </li> 
        <!-- @input="changeColor(opacity,value)" -->
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>