#app{
  max-width: 600px;
  margin: 30px auto;
}
#area{
  position: relative;
}

#image{
  margin: auto;
  width: 90%;
  height: 300px;
}

#img{
  display: block;
  margin: auto;
  width: 300px;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
}

#color_board{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: 300px;
  border: 1px solid #000;

  }

ul{
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li{
  list-style: none;
}

input{
  margin-top:10px;
  font-size: 20px;
}

p{
  text-align: center
}

